body{
    margin: 0;
    padding: 0;
}

nav{
    height: 13vh;
    display: flex;
    background-color: chocolate;
}

.container{
    width: 100%;
    background-color: orange;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}

.container > a{
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    border-style: solid;
    border-color: cyan;
    border-radius: 3px;
    border-width: 2px;
}

.container > a:hover{
    color:chocolate;
    border-style: solid;
    border-color: aquamarine;
    border-width: 1px;
}

.contenido{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 80vh;
}

.noticias{
    width: 75%;
    background: azure;
}

.opciones{
    width: 25%;
    background: rebeccapurple;
}

.piepagina{
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
}